/* General text styles */
h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 20px;
    color: #020029;
}

h2:not(:first-of-type) {
    padding-top: 40px;
}

h3:not(:first-of-type) {
    padding-top: 20px;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

p, li {
    font-size: 1.2rem;
    line-height: 160%;
    word-spacing: 2px;
}

p, ol, ul {
    margin-bottom: 40px;
}


/* Specialty text styles */
.note-link, .topic-link {
    display: block;
    width: fit-content;
    line-height: 160%;
    font-size: 1.3rem;
}

#title {
    font-size: 2.4rem;
}

#date {
    font-style: italic;
    color: #555;
    margin-bottom: 60px;
}

#explanation-text {
    font-style: italic;
    color: #555;
}

#nav-link {
    color: #3932c7;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
}

span.special {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eeebe3;
    margin: 0;
    padding: 20px 0;
    border-radius: var(--corner-radius);
    padding: 15px;
    height: fit-content;
    box-shadow: var(--shadow);
}

span.special::before {
    content:"";
    background-image:url(../images/lightbulb.png) !important;
    background-size: 40px 40px;
    min-width: 40px;
    height: 40px;
    margin: 10px 25px 10px 5px;
    display: inline-block;
}

p > span.special {
    font-style: italic;
}


/* LaTeX styles */
.katex-display {
    background-color: #eeebe3;
    margin: 0;
    padding: 20px 0;
    border-radius: var(--corner-radius);
    overflow-x: auto;
    box-shadow: var(--shadow);
}

span.katex-display > * span.base:first-child {
    margin-left: 10px;
}

span.katex-display > * span.base:last-child {
    margin-right: 10px;
}

.newline {
    height: 15px;
}


/* Page styles */
:root {
    --shadow-transparency-1: 0.08;
    --shadow-transparency-2: calc(1.4 * var(--shadow-transparency-1));
    --shadow: 0 10px 20px rgba(0,0,0,var(--shadow-transparency-1)), 0 6px 6px rgba(0,0,0,var(--shadow-transparency-2));

    --corner-radius: 6px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fcfcfa;
    padding-bottom: 100px;
}

#content {
    width: 80vw;
    margin-left: 10vw;    
}

@media only screen and (min-width: 768px) {
    #content {
        width: 44vw !important;
        margin-left: 28vw !important; 
    }
}

#v-spacer {
    height: 100px;
}


/* Other styles */
img {
    max-width: 100%;
    box-shadow: var(--shadow);
    border-radius: var(--corner-radius);
}